

<%- include('Userheader') %>

<form method="post" action="/UserLogindata">
    <table border="1" align="center">
      
        <tr>
            <td> email</td>
            <td><input type="text" name="useremail"></td>
        </tr>
        <tr>
            <td> password</td>
            <td><input type="text" name="userpassword"></td>
        </tr>
       
        <tr>
            <td> </td>
            <td><input type="submit" ></td>
        </tr>
    </table>
</form>